body {
    background-color: #f8f9fa; 
  }
  
  
  .card {
    border-radius: 10px; 
  }
  
  .card-header {
    border-radius: 10px 10px 0 0; 
   
  }
  
  .card-body {
    padding: 1.5rem;
   
  }
  
  .card-footer {
    background-color: #f8f9fa; 
  }
  
  .btn {
    transition: background-color 0.3s ease; 
  }
  
  .btn-secondary:hover {
    background-color: #5a6268; 
  }
  .list-group{
    height: 250px;
  }
  